[package]
name = "enroller"
version = "0.1.0"
edition = "2018"
resolver = "2"

[dependencies]
log = "0.4"
uefi = { version = "0.12", features = ["exts", "ignore-logger-errors"] }
uefi-services = "0.9"
