[package]
name = "libcrdy"
version = "1.0.0"

edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
log.workspace = true
object.workspace = true
uefi.workspace = true
