[package]
name = "libcrdy"

edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
log.workspace = true
object.workspace = true
uefi.workspace = true
vboot = { path = "../vboot" }
