[package]
name = "crdyboot_tools"
version = "0.1.0"
authors = ["Nicholas Bishop <nicholasbishop@google.com>"]
edition = "2018"
resolver = "2"

[dependencies]
anyhow = "1.0"
argh = "0.1"
camino = "1.0"
command-run = "0.13"
fehler = "1.0"
fs-err = "2.6"
