[package]
name = "crdyboot"
edition = "2021"
license = "BSD-3-Clause"
repository = "https://chromium.googlesource.com/crdyboot"
version = "1.0.0"

[dependencies]
uefi = { version = "0.18.0", default-features = false, features = ["exts"] }
uefi-services = "0.15.0"

libcrdy = { path = "../libcrdy" }
