[package]
name = "crdyboot"

edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
libcrdy = { path = "../libcrdy" }
log.workspace = true
object.workspace = true
uefi.workspace = true
vboot = { path = "../vboot" }

[target.'cfg(target_os = "uefi")'.dependencies]
uefi-services.workspace = true
