[package]
name = "crdyboot"
edition = "2021"
license = "BSD-3-Clause"
repository = "https://chromium.googlesource.com/crdyboot"
version = "1.0.0"

[dependencies]
uefi = { version = "0.17.0", default-features = false, features = ["exts"] }
uefi-services = "0.14.0"

libcrdy = { path = "../libcrdy" }

[features]
# If enabled, the max log level is set to Debug. If disabled (the default),
# the max log level is set to Warn.
verbose = []
