[package]
name = "crdyboot"

edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
uefi = { version = "0.23.0", default-features = false, features = ["alloc"] }
uefi-services = "0.20.0"

libcrdy = { path = "../libcrdy" }
