[package]
name = "crdyboot"
edition = "2018"
resolver = "2"

# These two fields are also used when generating sbat.csv.
# TODO: update this once the repo is public.
repository = "https://neverware-internal.git.corp.google.com/crdyboot"
version = "1.0.0"

[dependencies]
log = "0.4"

# TODO: get remaining stuff in the integration branch PR'd and merged upstream
# and into a new uefi-rs release, then switch these two deps back to crates.io.
uefi = { git = "https://github.com/nicholasbishop/uefi-rs.git", branch = "bishop-integration-branch", features = ["exts", "ignore-logger-errors"] }
uefi-services = { git = "https://github.com/nicholasbishop/uefi-rs.git", branch = "bishop-integration-branch" }

vboot = { path = "../vboot" }

[patch.crates-io]
# This is needed to fix uefi-services' dep on uefi
uefi = { git = "https://github.com/nicholasbishop/uefi-rs.git", branch = "bishop-integration-branch" }

[features]
# If enabled, a test key in the repo will be used to validate the kernel. If
# disabled (the default), a key must be provided in this file (relative to
# the repo root): "keys/kernel_key.vbpubk".
use_test_key = []

# If enabled, the max log level is set to Debug. If disabled (the default),
# the max log level is set to Warn.
verbose = []

[profile.release]
overflow-checks = true
