[package]
name = "crdyboot"

edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
libcrdy = { path = "../libcrdy" }
uefi.workspace = true
uefi-services.workspace = true
