[package]
name = "crdyboot"

edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
libcrdy = { path = "../libcrdy" }
uefi.workspace = true

[target.'cfg(target_os = "uefi")'.dependencies]
uefi-services.workspace = true
